/* Site Stylesheet
	1. Global Styles
	2. Structure Styles
*/	

/* 1. Global Styles	*/
:root {		 
  --black: #1F1F1F;
  --white: #ffffff;
  --whitedark: #e7e7e7;
  --gray: #fAfAfA;
  --graydark: #f1f1f1;
  --green: #008b5d;
  --greenDark: #076244;
  --red:  #E02020;

  --lineheight--sm: 1.3em;
  --lineheight--md: 1.5em;
  --lineheight--lg: 2em;

  --font--sm: 1.1rem;
  --font--md: 1.2rem;
  --font--md-l: 2rem;
  --font--lg: 3rem;

  --font--weight-md: normal;
  --font--weight-lg: bold;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


a, a:visited {
  text-decoration:none; 
  color:var(--black);
}

a:hover {
  text-decoration: underline;
}

.logo {
  display: flex;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}
h1 {
  font-size: var(--font--lg);
  color: var(--green);
  font-family: 'Playfair Display';
  font-weight: 300;
  line-height: 1.1em;
}

h2 {
  font-size: var(--font--md-l);
  color: var(--green);
  font-family: 'Playfair Display';
  font-weight: 300;

}

h3 {
  font-size: var(--font--md);
  color: var(--green);
  font-family: 'Playfair Display';
  font-weight: 300;
}


p {
  color: var(--black);
  margin-top: 1em;
}

html {
  font-size: 17px;
}

body {
  margin: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

@media (max-width: 900px) {
  html { font-size: 15px; }

}
@media (max-width: 400px) {
  html { font-size: 13px; }
}

button {
  border: 2px solid #FFFFFF;
  background-color: Transparent;
  background-repeat:no-repeat; 
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-size: var(--font--md);
  color: var(--white);
  font-family: 'Playfair Display';
  border-radius: 0.2em;
}
/* 
button:hover {
  background-color: var(--white);
  color: var(--green);
} */

#snackbar-ok, #snackbar-error {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: var(--green);
  color: #ffffff;
  text-align: center;
  border-radius: 50px;
  padding: 16px;
  position: fixed;
  z-index: 22;
  left: 50%;
  top: 100px;
  opacity: 1;
  transition: opacity 2s linear;
}

#snackbar-ok.show, #snackbar-error.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s; }
		
	@-webkit-keyframes fadein {
			from {
				top: 0;
				opacity: 0; }
			to {
				top: 100px;
				opacity: 1; } }
	@keyframes fadein {
			from {
				top: 0;
				opacity: 0; }
			to {
				top: 100px;
				opacity: 1; } }
	@-webkit-keyframes fadeout {
			from {
				top: 100px;
				opacity: 1; }
			to {
				top: 100px;
				opacity: 0; } }
	@keyframes fadeout {
			from {
				top: 100px;
				opacity: 1; }
			to {
				top: 100px;
				opacity: 0; } }






textarea {
  border: 0.1em solid var(--whitedark);
  border-radius: 0.4em;
  padding: 2em;
  margin: 2em 0;
  width: 60%;
  background-color: var(--gray);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
textarea:focus, input:focus{
  outline: none;
}
textarea:focus {
  background: var(--graydark);
}


placeholder {
  color: blue;
}

/* 2. Structure Styles	*/



header {
  background-color: var(--white);
  height: 4.1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em calc(15% - 5em);
  box-shadow: 0 2px 15px 5px rgba(0,0,0,0.06);
}

.banner {
  padding: 0 calc(15% - 5em);
  min-height: 17.6em;
  display: flex;
  background-color: var(--gray);
}

.banner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-introduction {
  padding: 5.2em calc(15% - 5em);
  background-color: var(--white);
}

.text-introduction p {
  margin-top: 0;
  line-height: var(--lineheight--md);
}

.text {
  width: 70%;
}

.cards {
  padding: 3.3em calc(15% - 5em);
  background-color: var(--gray);
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
}

.card {
  width: 19.882em;
  height: 28.4em;
  box-shadow: 0 4px 9px 1px rgba(0,0,0,0.06);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  }

.card:hover {
  box-shadow: 0 4px 9px 1px rgba(0,0,0,0.17);
}

.card-hover-message {
  opacity: 0;
  background-color: #000000cf;
  overflow: hidden;
  z-index: 6;
  position: absolute;
  width: 19.882em;
  height: 28.4em;
  border-radius: 7px;
  flex-direction: column;
  justify-content: center;
  padding: 4em;
  text-align: center;
  display: none;
}

.card-hover {
  opacity: 0;
  background-color: #008b5dc7;
  overflow: hidden;
  z-index: 5;
  position: absolute;
  width: 19.882em;
  height: 28.4em;
  border-radius: 7px;
  flex-direction: column;
  justify-content: center;
  padding: 4em;
  text-align: center;
  display: flex;
}

.card-hover a {
  color: var(--white);
}

.card-hover p, .card-hover-message p {
  color: var(--white);
}

.subtext {
  font-size:smaller;
}

.card-content {
  flex: 1 1 10em;
  background-color: var(--gray);
  padding: 1.5em;
  border-radius: 7px;
  }
.wia-form {
  display: flex;
  flex-direction: column;
  padding: 3.3em calc(15% - 5em);
  justify-content: center;
  align-items: center;
  text-align: center;

}
.btn-form {
  background-color: var(--green);
  padding: 0.4em 2em;
}
.btn-form:hover {
  background-color: var(--greenDark);
}
.btn-hover {
  padding: 0.4em;
}
.btn-hover-message {
  background-color: var(--green);
  border: 0;
  padding: 0.4em;
}
footer {
  padding: 1.2em calc(15% - 5em);
  height: 4.1em;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer > ul {
  display: flex;
  justify-content: space-between;
  flex: 1 1 100%;
}
@media (max-width: 900px) {
  header, .cards, .banner, footer, .wia-form, .text-introduction { padding: 2.2em 10%;}
  .banner img{
    display: none;
  }
  textarea {
    width: 80%;
  }
}
@media (max-width: 817px) {
  .cards {
    justify-content: center;
  }
  .banner, .text-introduction {
    text-align: center;
  }
  .text {
    width: 100%;
  }
}

@media (max-width: 400px) {
  header, .cards, .banner, .wia-form, footer, .text-introduction { padding: 3.2em 7%;}
  .cards {
    justify-content: center;
  }
  .card {
    flex: 1 1 auto;
  }
  .card-hover {
    width: 86%;
    height: 24.5em;
    padding: 4em;
  }
  textarea {
    width: 100%;
  }
  .text {
    width: 100%;
  }
}